*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/images/images/sloy.png);
    background-repeat: no-repeat;
}
.location{
    display: none;
}
.line{
    border-bottom: 2px solid white;
}
.card{
    background-color: rgba(255, 255, 255, 0.2)!important;
    box-shadow: 0px 10px 100px 10px rgba(255, 255, 255, 0.2);
}
.card:hover{
    background-color: rgba(32, 32, 32, 0.356)!important;
}
#time{
    color: white;
}
.boxs{
    width: 1258px;
}
.regionChoose{
    background: inherit;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 3px 5px 3px 30px;
    font-size: 20px;
    font-weight: 700;
    width: 230px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#vector{
    justify-content: end;
}

.option{
    display:none;
    position: absolute;
    z-index: 1;
    width: 199px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 25px 1px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    cursor: pointer;
}
.choose{
    color: #13003C;
    width: 199px;
    padding: 10px 0 3px 30px;
    font-size: 20px;
    font-weight: 700;
}
.choose_active{
    background-color: white;
}



@media only screen and (max-width:992px){
    body{
        background-image: url(/images/images/body-bg20.png);
        background-repeat: repeat;
    }
    .bgcolor{
        background-color:#023926;
    
    }
    .card{
        background-color: #008653!important;
    }
    .line{
        border-bottom:none;
    }
}
@media only screen and (max-width:576px){
    .location{
        display: inline-block;
        float: left;
    }
    .none{
        display: none!important;
    }
    #region{
        margin: 0 auto;
        background-color: #023926!important;
        color: #ffc107!important;
        border: none;
        font-size: 40px!important;
        overflow: hidden;
        z-index: 0;
        border-radius: 20px;
    }
    #date{
        margin: auto;
    }
    .box{
        margin: 0 5px 0 5px!important;
    }
    #vector{
        display: none!important;
    }
    .regionChoose{
        border: none;
        font-size: 25px;
        color: #FFC700;
        width: 100%;
        justify-content: center;
    }
    .option{
        display:none;
        position: absolute;
        z-index: 1;
        height: initial;
        width: inherit;
        overflow: hidden;
        margin: 0;
        top: 95px;
        left: 0px;
        right: 0;
        border-radius: 10px;
        background: #00462B;
        box-shadow: 0px 4px 25px 1px rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(4px);
        cursor: pointer;
    }
    .choose{
        color: white;
        width: inherit;
        padding: 10px 0 3px 30px;
        font-size: 20px;
        font-weight: 700;
    }
    .choose_active{
        background-color: #00AD6B;
        color: #FFC700;
    }
    #selected{
        border-bottom:2px solid white;
    }
}